
<nav class="navbar-expand-lg navbar navbar-toggleable-md custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>   
    </button>
    <div >
      <img src="assets/angular.png" class="logo">
    </div>
    <div class="nav-divs">
      <div class="collapse navbar-collapse left-side-outer" id="navbarSupportedContent">
        <ul class="navbar-nav left-side">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn dropdown-toggle" data-toggle="dropdown"  data-toggle="collapse" data-target=".navbar-collapse.show">Features</a>
              <div class="dropdown-content">
                <a  routerLink="/features"  >Feature 1</a>
                <a  routerLink="/features"  >Feature 2</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact us </a>
          </li>
          
        </ul>
      </div>
      <div class="right-side-outer">
        <ul class="right-side">
          <li class="inner-li">
            <a class="fa fa-twitter fa-lg" href="#"></a>
          </li>
          <li class="inner-li">
            <a href="#" class="fa fa-facebook fa-lg"></a>
          </li>
        </ul>
      </div>  
      <div class="ml-2">
        <input type="search" class="searchbar form-control" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </nav>
  
    
    
  
  