<div class="jumbotron">
    <div class= "jambo">
        <h1><img src="assets/angular.png" class ="image" >
    Angular </h1>
    <h2>  
    One framework.
    Mobile & desktop.
</h2>
   
</div>
  </div>
<div class="container">
   
    <img src="assets/image.png" class ="image" >
        <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
       <hr/>
        <h1>
            DEVELOP ACROSS ALL PLATFORMS
        </h1>
        <p>
            Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
        </p>
   
</div>
